{%extends 'base.html'%}

{%block body_block%}

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">

        <h1>Welcome:{{request.user}}</h1>
    </div>
    <div class="col-4"></div>
</div>

<div class="container w-100">
<div class="row">

<div class="col-4  mt-4 h-5" style="height:570px; box-shadow: 5px 5px 6px #cccccc;
       padding: 10px; border: 1px solid #eeeeee;" >
    <style>

    </style>
        <div class="">
<h1>Create Blog</h1>
        <form action="" method="post" enctype="multipart/form-data" class="mt-5">
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit" value="POST"></form>

</div>
    </div>
    <div class="col-1">

    </div>


    <div class="col-7 mt-4" data-aos="fade-up" style="box-shadow: 5px 5px 6px #cccccc;
       padding: 10px; border: 1px solid #eeeeee;">
        {%for blog in blogs%}
        <h1>Recent Blogs</h1>
        <div class="mt-5">


            <p>{{blog.title}}</p>
            <p>{{blog.description}}</p>
            <img src="{{blog.image.url}}" alt="" style="height:406px ">
            <p>Posted by: {{blog.author}}</p>
            <p>Posted on: {{blog.posted_date}}</p>

          {{blog.get_liked_users}}" <p>{{blog.get_like_count}} Likes</p>
            <a href="{%url 'add-like' blog.id%}">Like</a>



            <form action="{%url 'add-comment' blog.id%}" method="post">
                {%csrf_token%}
                {{comment_form.as_p}}
                <input type="submit" >
            </form>

            {%for comment in blog.comments_set.all%}

            <div class="breadcrumbs mt-4" >
               <p> {{comment.comment}}</p>
               <p> <strong>{{comment.user}}</strong></p>
            </div>

            {%endfor%}
        </div>

        {%endfor%}

    </div>


</div>
</div>

{%endblock%}