{%extends 'base1.html'%}
{%load static%}
{%block body_block%}


<div class="post-container">
    <div class="post-row">
        <div class="user_profile">
            <img src="{{request.user.users.profile_pic.url}}">
            <div>
                <p>{{request.user}}</p>
            </div>
        </div>

        <a href=""><i class="fas fa-ellipsis-v"></i></a>
    </div>


    {%for blog in blogs%}


    <p class="post-text">{{blog.title}}</p>
    <p class="post-text">{{blog.description}}</p>
    <img src="{{blog.image.url}}" class="post-img">
    <p class="post-text">Posted by: {{blog.author}}</p>
    <span>Posted on: {{blog.posted_date}}</span>

    <div class="post-row">

        <div class="activity-icons">
            <div><a href="{%url 'add-like' blog.id%}"><img src="{%static 'images/like-blue.png'%}"></a>
                <p class="like">{{blog.get_like_count}} </p>
            </div>
            <div>

                <p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseWidthExample" aria-expanded="false"
                            aria-controls="collapseWidthExample">
                        Comment
                    </button>
                </p>
                <div style="min-height: 120px;">
                    <div class="collapse collapse-horizontal" id="collapseWidthExample">
                        <div class="card card-body" style="width: 300px;">
                            <form action="{%url 'add-comment' blog.id%}" method="post">
                                {%csrf_token%}
                                {{comment_form.as_p}}
                                <input type="submit">
                            </form>
                        </div>
                    </div>
                </div>

                <p>
                    <a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                       aria-controls="collapseExample">
                        <img src="{%static 'images/comments.png'%}">
                    </a>

                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">

                        {%for comment in blog.comments_set.all%}

                        <div class="breadcrumbs mt-4">
                            <p><strong>{{comment.user}}:</strong></p>
                            <p> {{comment.comment}}</p>

                            <p>{{blog.user.profile_pic}}</p>
                        </div>

                        {%endfor%}

                    </div>
                </div>


            </div>
            <div><img src="{%static 'images/share.png'%}"></div>
        </div>
        <div class="post-profile-icon">
            <img src="{{request.user.users.profile_pic.url}}"><i class="fa-solid fa-caret-down"></i>
        </div>
    </div>


    {%endfor%}

</div>
</div>

<button type="button" class="load-more">Load More</button>

</div>


{%endblock%}